<div class="b-file-manager">

    <input type="file" class="b-file-manager__input-upload" name="files[]" value="" multiple />

    <span class="btn b-file-manager__btn-upload">
        <span class="btn-in">Загрузить</span>
    </span>

    <div class="b-dropdown">
        <div class="btn b-dropdown__name m-none">
            <span class="btn-in">Создать папку</span>
        </div>
        <div class="b-dropdown__block w-big">
            <i class="b-dropdown__tail"></i>

            <label class="inp-name">Введите имя папки</label>
            <input type="text" name="" value="" class="inp b-file-manager__inp-create-folder" />

            <button class="btn b-file-manager__btn-create-folder">
                <span class="btn-in">Создать</span>
            </button>
        </div>
    </div>


    <div class="b-file-manager__body b-file-manager__body-list"></div>

    <div class="b-file-manager__body b-file-manager__body-previews"></div>

</div>