
files/*
template/*
ext/*
_install/
.project

*.prefs

.settings/*

.buildpath

atlassian-ide-plugin.xml

favicon.ico

template/main.php

template/main.php

ext/aaa/init.php

ext/aaa/block.html

.idea/workspace.xml
