
files/*
backup/*
template/*
ext/*
_install/
.project
.idea/*


*.prefs

.settings/*

.buildpath

atlassian-ide-plugin.xml

favicon.ico

template/*

user_files/*

node_modules/*

fenix2/*

Gruntfile.js

package.json

config.php

.idea/workspace.xml
