.header-search{
    position: relative;
}

.header-search-result-block{
    position: absolute;
    z-index: 1;
    top: 15px;
    padding-top: 15px;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.9);
}
.header-search-result-block h3{
    margin: 0;
}
.header-search-result-block > ul{
    margin: 0;
    padding: 10px 15px;
    max-height: 300px;
    overflow: auto;
    list-style-type: none;
}
.header-search-result-block ul ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.header-search-result-block li li{
    padding: 0 0 0 10px;
}
.header-search-result-block li li a{
    line-height: 24px;
}

.header-search__input{
    position: relative;
    z-index: 2;
    padding-left: 23px;
    margin-top: 7px;
    height: 20px;
    font-size: 13px;
    border-radius: 25px;
    opacity: 0.5;
}
.header-search__input_focus,
.header-search__input:focus{
    opacity: 1;
}

.header-search__icon{
    position: absolute;
    z-index: 3;
    left: 4px;
    top: 8px;
}