<!DOCTYPE html>
<html>
    <head>
        <title>FenixCMS</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="LegGnom" />

        


        <script>
            <?= 'window.$_GET = ' . json_encode($_GET); ?>
        </script>

        
        <?= staticLoad($static); ?>

    </head>
    <body>
        
        <div class="header box">
            <div class="col3">
                <div class="m-box">
                    <a class="header-logo" href="<?=$GLOB['url']['home'];?>">FenixCMS</a>
                </div>
            </div>
            <div class="col7">
                <div class="m-box">
                    <ul class="header-menu">
                        <?= $GLOB['topMenu']; ?>
                    </ul>
                </div>
            </div>
            <div class="col2">
                <div class="m-box">
                    <div class="pull-right header-panel">
                        <span class="header-panel-login"><?= @$_SESSION['user']['login']; ?></span>
                        <a class="header-panel-disconnect" href="?action=disconnect"><?=$lang['output'];?></a>
                    </div>
                </div>
            </div>
        </div>
        
        <? if($GLOB['leftMenu'] != ''): ?>
        <div class="box box-table dubl_box">
            <div class="col3 box-cell left_menu">
                <div class="m-box">
                    <?= $GLOB['leftMenu']; ?>
                </div>
            </div>
            <div class="col9 box-cell">
                <div class="m-box">
                    <?= $GLOB['content']; ?>
                </div>
            </div>
        </div>
        <? else: ?>
        <div class="box">
            <div class="m-box">
                <?= $GLOB['content']; ?>
            </div>
        </div>
        <? endif;?>
        
        <script>
            $(function(){
                <?
                    if(isset($_SESSION['error'])){
                        $list = array();
                        foreach($_SESSION['error'] as $v){
                            $list[] = 'Notification.set({';
                                    $list[] = 'message: "'.$v['error'].'",';
                                    $list[] = 'flag: "'.$v['name'].'",';
                                    $list[] = 'key: "'.$v['id'].'"';
                            $list[] = '});';
                        }
                        if(count($list)){
                            echo implode("\n", $list);
                            echo 'Notification.show();';
                        }
                    }
                ?>
            });
        </script>


        <div class="alpha">
            <div class="alpha-message"></div>
        </div>
    </body>
</html>
