<? if(count($crumbs)): ?>
<ul class="project-crumbs">
    <li><a href="?mode=project"><i class="icon-home"></i></a></li>
    <? foreach($crumbs as $k => $v): ?>
    <li>
        <i class="project-crumbs-tail"></i>
        <a href="?mode=project&id=<?= $k; ?>"><?= $v; ?></a>
    </li>
    <? endforeach; ?>
</ul>
<? endif; ?>


<h1 class="mb-normal">Редактор объекта</h1>

<form action="" method="post" enctype="multipart/form-data">
<div class="split-box">
    <div class="ctrl-box first">
        <span class="inp-name">ЧПУ</span>
        <input type="text" name="chpu" value="<?= @$selfObject[0]['chpu']; ?>" class="inp w_normal first"/>
    </div>
    <div class="ctrl-box last">
        <span class="inp-name">Шаблон</span>
        <select name="marker" class="ctrl-select">
            <option value="0">без шаблона</option>
            <?
                foreach($template as $v){
                    $selected = (isset($selfObject[0]['marker']) && $selfObject[0]['marker'] == $v['id']) ? ' selected="true"' : '';
                    echo '<option'.$selected.' value="'.$v['id'].'">'.$v['name'].'</option>';
                }
            ?>
        </select>
    </div>
    <div class="ctrl-box last" style="margin-left: 15px;">
        <span class="inp-name">&#160;</span>
        <label style="line-height: 30px;">
            <input type="checkbox" name="active_path" value="1" <? if(!isset($selfObject[0]['active_path']) || $selfObject[0]['active_path'] == 1) echo 'checked="true"'; ?> style="margin-top: 8px;"/>
            Учитывать в пути
        </label>
    </div>
</div>
    
<? foreach($result as $v): ?>
    <div class="m_midle">
        <?= $v; ?>
    </div>
<? endforeach;?>

<input type="hidden" name="action" value="elem"/>
<input type="hidden" name="parent" value="<?= @Fx::context()->parent_object; ?>"/>
<input type="hidden" name="id" value="<?= @Fx::context()->selfId; ?>"/>
<input type="hidden" name="object" value="<?= @$tableName; ?>"/>


<div class="mt-normal">
    <button class="btn btn__success" type="submit">
        <span class="btn-in">Сохранить</span>
    </button>
</div>

</form>

<script>
    $(function(){
        $('input:visible, textarea:visible').eq(1).focus();
        $('.js-image-remove').change(function(){
            var $this = $(this)
        });
    });
</script>