<h1 class="page-name">Главная</h1>


<? if(count($extWidget)): ?>
<div class="box">
    <? foreach ($extWidget as $ext): ?>
        <div class="col4">
            <div class="m-box">
                <h3><?= @$ext['option']['name']; ?></h3>
                <?= @$ext['option']['body']; ?>
            </div>
        </div>
    <? endforeach; ?>
</div>
<? endif; ?>



<? if(count($extApp)): ?>
<div class="box">
    <? foreach ($extApp as $ext): ?>
        <?= @$ext['option']['block']; ?>
    <? endforeach; ?>
</div>
<? endif; ?>