<h1 class="page-name">Редактор объекта</h1>

<form action="" method="post" watch="structForm">
    <h3>Параметры таблици</h3>
    <div class="ctrl-box">
        <label class="inp-name">Имя</label>
        <input type="text" name="name" value="<?= @$objectParam[0]['name']?>" class="inp" isEmpty help="Это название будет отображаться в Проекте как имя создаваемого/редактируемого объекта" />
    </div>
    <div class="ctrl-box">
        <label class="inp-name">Код</label>
        <input type="text" name="code" value="<?= @$objectParam[0]['code']?>" class="inp" isEmpty isEn help="Это имя создаваемой/редактируемой таблице таблици, где будут храниться записи." />
    </div>
    <div class="ctrl-box object-icon js-object-icon">
        <span class="inp-name">Иконка</span>
        <? $icon =  isset($objectParam[0]['icon']) ? $objectParam[0]['icon'] : 'icon-doc'; ?>
        <i class="<?= $icon; ?>" popup="icons" help="Выберите иконку, она поможет вам лучше ориентироваться в проекте."></i>
        <input type="hidden" name="icon" value="<?= isset($objectParam[0]['icon']) ? $objectParam[0]['icon'] : 'icon-doc'; ?>" class="js-object-icon-input"/>
    </div>
    <div class="ctrl-box ml-small">
        <span class="inp-name">Системные настройки</span>
        <label class="inp-name" help="В проекте может быть очень много записей. Скройте их в дереве (в списке проекта они всеравно будут отображаться), для того чтобы было проще работать с проектом">
            <input type="checkbox" name="show_wood" value="1" <?= isset($objectParam) && $objectParam[0]['show_wood'] > 0 ? 'checked="true"' : '' ?>/> Показывать в дереве
        </label>
        <label class="inp-name" help="Системные настройки включают в себя ЧПУ и маркер макетов. Если объект не будет использован как страница лучше спрятать системные настройки">
            <input type="checkbox" name="show_sistem" value="1" <?= isset($objectParam) && $objectParam[0]['show_sistem'] > 0 ? 'checked="true"' : '' ?>/> Показывать системные настройки
        </label>
    </div>
    
    
    
    <h3 class="mt_normal">Параметры ячеек</h3>
    <ul class="object-list"><?= $paramObject; ?></ul>
    
    <div class="mt_big">
        <button class="btn btn__disable btn__success" type="submit" disabled="disabled">
            <span class="btn-in">Сохранить</span>
        </button>
        <a href="?mode=struct" class="btn">
            <span class="btn-in">Отмена</span>
        </a>
        
        <span class="btn js-add">
            <span class="btn-in">Добавить ячейку</span>
        </span>
    </div>
    
    
    <input type="hidden" name="action" value="object"/>
    <? if(isset($objectParam)): ?>
        <input type="hidden" name="id" value="<?= $objectParam[0]['id']?>"/>
    <? endif; ?>
</form>


<? ob_start(); ?>
    <? $icon =  isset($objectParam[0]['icon']) ? $objectParam[0]['icon'] : 'icon-doc'; ?>
    <? $icons = getIcon() ?>
    <? foreach($icons['glyphs'] as $v): ?>
        <? $active = $icon === 'icon-'.$v['css'] ? 'active' : ''; ?>

        <i class="icon-<?= $v['css'] ?> <?= $active; ?>" data-class="icon-<?= $v['css'] ?>"></i>
    <? endforeach; ?>
<? $icon = ob_get_clean(); ?>

<?= Fx::io()->buffer(sys.'/template/tpl/blocks/popup.html', array(
    'name' => 'Выберите иконку',
    'role' => 'icons',
    'class' => 'js-object-icon-list',
    'block' => '<div class="object-icon-list">' . $icon . '</div>'
)); ?>
