<? if(count($crumbs)): ?>
    <ul class="project-crumbs">
        <li><a href="?mode=project"><i class="icon-home"></i></a></li>
        <? foreach($crumbs as $k => $v): ?>
            <li>
                <i class="project-crumbs-tail"></i>
                <a href="?mode=project&id=<?= $k; ?>"><?= $v; ?></a>
            </li>
        <? endforeach; ?>
    </ul>
<? endif; ?>

<div class="box">
    <ul class="project-event pull-right">
        <li>
            <span class="dropdown">
                <span class="dropdown-name false-link">Создать</span>
                <span class="dropdown-block">
                    <i class="dropdown-tail"></i>
                    <ul class="project-list-created">
                        <?= @$createList; ?>
                    </ul>
                </span>
            </span>
        </li>
        <? if($GLOB['self_id']): ?>
            <li>
                <a href="?mode=elem&id=<?= @$GLOB['self_id']?>">Редактировать</a>
            </li>
        <? else: ?>
            <li>
                <span class="disable">Редактировать</span>
            </li>
            
        <? endif; ?>
        
        <li>
            <span class="false-link disable js-projectEvent" action="dubleItem">Дублировать</span>
        </li>
        <li>
            <span class="false-link disable js-projectEvent" action="copyItem">Копировать</span>
        </li>
        <li>
            <span class="false-link disable js-projectEvent" action="moveItem">Вырезать</span>
        </li>
        
        
        <? if(isset($_SESSION['copyItem']) && count($_SESSION['copyItem']) || isset($_SESSION['moveItem']) && count($_SESSION['moveItem'])): ?>
            <li>
                <a href="?action=pasteItem&id=<?= @$GLOB['self_id']?>">Вставить</a>
            </li>
            <li>
                <a href="?action=pasteItemLink&id=<?= @$GLOB['self_id']?>">Вставить ссылку</a>
            </li>
        <? else: ?>
            <li>
                <span class="disable">Вставить</span>
            </li>
            <li>
                <span class="disable">Вставить ссылку</span>
            </li>
        <? endif; ?>
        
        <li>
            <span class="disable false-link js-projectEvent" action="removeItem">Удалить</span>
        </li>
    </ul>

    <div class="project-name">
        <h1><?= @$GLOB['project_name']?></h1>
    </div>
</div>

<? if(count($tables) && count($selfItem)): ?>
    <div class="project-filter-objects">
        Фильтр по объектам:
        <span data-code="0" class="current">Все</span>
        <? foreach($tables as $v): ?>
            <span data-code="<?= $v['code']?>">
                <?= $v['name']?>
            </span>
        <? endforeach ?>
    </div>
<? endif; ?>



<div class="project-list">
    <?= implode('', $selfList);?>
</div>

<? if(!count($selfItem)): ?>
<div class="create-element-big-icon">
    <h3>Создать елемент</h3>
    <?= $previewList; ?>
</div>
<? endif; ?>

<script type="text/javascript">
    GLOBAL.set('page', {
        'id': <?= (int) $GLOB['self_id']; ?>
    });
</script>
<?
?>