<h1 class="page-name js-struct">Структура проекта</h1>

<div class="box">
    <div class="col4">
        <div class="m-box">
            <h3>Обьекты</h3>
            <ul class="setting-tebles">
                <?= $io->buffer(sys . '/template/tpl/blocks/list__object.html', $db->find($GLOB['namespace']['struct_db'])); ?>
            </ul>


            <? ob_start(); ?>
                <form action="" method="post" watch="structForm" before-send="beforeSend">
                    <input type="text" name="name" value="" class="inp" autocomplete="off" data-validate="empty" placeholder="Имя" help="Осмысленное название объекта"/>
                    <input type="text" name="code" value="" autocomplete="off" isEmpty isEn class="inp" placeholder="Код" help="Только латинские буквы и цифры"/>
                    <input type="hidden" name="action" value="addObject"/>
                    <div class="mb-middle t-right">
                        <a href="?mode=object">Расширенный редактор</a>
                    </div>

                    <button class="btn btn__success btn__disable" type="submit">
                        <span class="btn-in">Добавить</span>
                    </button>
                    <span class="btn" onclick="$(document).trigger('dropdown-close')">
                        <span class="btn-in">Отмена</span>
                    </span>
                </form>
            <? $form = ob_get_clean(); ?>

            <?= $io->buffer(sys . '/template/tpl/blocks/dropdown.html', array(
                'name' => '<span class="false-link">Добавить</span>',
                'block' => $form
            )); ?>

            <a href="?mode=object" class="ibox-add-link">Расширенный редактор</a>
        </div>
    </div>
    <div class="col4">
        <div class="m-box">
            <h3>Маркеры</h3>

            <ul class="setting-tebles">
                <?= $io->buffer(sys . '/template/tpl/blocks/list__marker.html', array(
                    'markerList' => $markerList,
                    'templateList' => $templateList,
                    'io' => $io
                )); ?>
            </ul>


            <? ob_start(); ?>
                <form action="" method="post" watch="structForm" before-send="beforeSend">
                    <label class="inp-name">Имя маркера</label>
                    <input type="text" name="name" value="" class="inp" autocomplete="off" isEmpty help="Имя маркера может содержать любые символы, но рекомендуется использовать осмысленные названия."/>
                    <input type="hidden" name="action" value="addMarker"/>
                    <div>
                        <button class="btn btn__success btn__disable" type="submit" disabled="true">
                            <span class="btn-in">Добавить</span>
                        </button>
                        <span class="btn" onclick="$(document).trigger('dropdown-close')">
                            <span class="btn-in">Отмена</span>
                        </span>
                    </div>
                </form>
            <? $form = ob_get_clean(); ?>

            <?= $io->buffer(sys . '/template/tpl/blocks/dropdown.html', array(
                'name' => '<span class="false-link">Добавить</span>',
                'block' => $form
            )); ?>

        </div>
    </div>
    <div class="col4">
        <div class="m-box">
            <h3>Шаблоны</h3>
            <ul class="setting-tebles">
                <?= $io->buffer(sys . '/template/tpl/blocks/list__template.html', array(
                    'list' => $templateList
                )); ?>
            </ul>


            <? ob_start(); ?>
                <form action="" method="post" watch="structForm" before-send="beforeSend">
                    <label class="inp-name">Имя шаблона</label>
                    <input type="text" name="name" value="" class="inp" autocomplete="off" isEmpty isEn help="Имя шаблона должно содержать только латинские символы"/>
                    <input type="hidden" name="action" value="addTemplate"/>
                    <div>
                        <button class="btn btn__success btn__disable" type="submit" disabled="true">
                            <span class="btn-in">Добавить</span>
                        </button>
                        <span class="btn" onclick="$(document).trigger('dropdown-close')">
                            <span class="btn-in">Отмена</span>
                        </span>
                    </div>
                </form>
            <? $form = ob_get_clean(); ?>

            <?= $io->buffer(sys . '/template/tpl/blocks/dropdown.html', array(
                'name' => '<span class="false-link">Добавить</span>',
                'block' => $form
            )); ?>

        </div>
    </div>
</div>

<hr class="mt-big mb-big" />

<?= $io->buffer(sys . '/template/tpl/blocks/table/table.html', $tableInfo); ?>

