<li class="mb-middle js-object-item" style="z-index: <?= @$param['zIndex']?>">
    <div class="split-box m-none">

        <div class="ctrl-box">
            <label class="inp-name">Имя</label>
            <input type="text" name="row[name][<?= @$param['key']?>]" value="<?= @$param['value']['name']; ?>" class="inp first" isEmpty help="Имя будет отображаться в Проекте"/>
        </div>

        <div class="ctrl-box">
            <label class="inp-name">Код</label>
            <input type="text" name="row[code][<?= @$param['key']?>]" value="<?= @$param['value']['code']; ?>" class="inp" isEmpty isEn help="Код это имя ячейки в базе данных"/>
            <input type="hidden" name="row[base][<?= @$param['key']?>]" value="<?= @$param['value']['code']; ?>" />
        </div>

        <div class="ctrl-box object-type">
            <label class="inp-name">Тип</label>
            <span help="Тип определяет то какие данные могут быть созданы">
                <select name="row[type][<?= @$param['key']?>]" class="js-type ctrl-select" watch="objectType">
                    <?
                        foreach($param['manifest']['gist'] as $k => $v){
                            $selected = (isset($param['value']) && $param['value']['type'] == $k) ? ' selected="true"' : '';
                            echo '<option'.$selected.' value="'.$k.'">'.$v['name'].'</option>';
                        }
                    ?>
                </select>
            </span>
        </div>

        <div class="ctrl-box" >
            <label class="inp-name">&#160;</label>
            <div class="btn js-showSetting" help="Настройки ячейки позволяют кастомизировать работу ячейки и задать ее размер. Для каждого типа есть свой набор настроек подходящий только ему.">
                <span class="btn-in">
                    <i class="icon-cog"></i>
                </span>
            </div>
        </div>

        <div class="ctrl-box">
            <label class="inp-name">&#160;</label>
            <span class="btn last js-removeItem">
                <span class="btn-in">
                    <i class="icon-cancel f_gigant"></i>
                </span>
            </span>
        </div>

    </div>
    
    <div class="js-setting dn">


        <?
            if(isset($param['value'])){
                $gist = (isset($param['value']['type'])) ? $param['manifest']['gist'][$param['value']['type']] : $param['manifest']['gist']['string'];



                foreach($gist['param'] as $v){

                    $paramGIST = array();
                    if(isset($param['value']) && isset($param['value']['param'])){
                        $paramGIST = json_decode($param['value']['param'], true);
                    }

                    echo $param['io']->buffer(sys . '/template/tpl/gist-param/' . $v . '.html', array(
                        'key' => $param['key'],
                        'gist' => $paramGIST,
                        'manifest' => $param['manifest']
                    ));
                }
            }
        ?>
        
    </div>
    <? if(isset($paramObjectItem)): ?>
        <input type="hidden" name="form[id][]" value="<?= @$param['value']['id']; ?>"/>
    <? endif; ?>
</li>