<?
    $value = '';
    $list = '';

    if(isset($param['gist']['list']) && $param['gist']['list'] !== ''){
        $value = json_encode($param['gist']['list']);
        foreach($param['gist']['list'] as $v){
            $list .= '<li>'.$v.'</li>';
        }
    }
    
?>
<div class="ctrl-group mr-micro js-param-list">
    <label class="inp-name">Параметры списка</label>
    <div class="inp w-normal" contenteditable="true"></div>
    <ul class="param-list-item w-normal"><?= $list; ?></ul>
    <input type="hidden" name="row[<?= @$param['key']?>][param][list]" value='<?= $value; ?>' class="inp w_normal"/>
</div>