<?
    $option = array('none', 'scale', 'crop', 'width', 'height');
    $res = array();
    foreach($option as $v){
        $selected = isset($param['gist']['method']) && $v === $param['gist']['method'] ? ' selected="true"' : '';
        $res[] = '<option'.$selected.'>'.$v.'</option>';
    }
    $res = implode('', $res);
?>


<div class="ctrl-box mr-micro js-param-method">
    <label class="inp-name">Метод</label>
    <select name="row[param][<?= @$param['key']?>][method]" class="ctrl-select">
        <?= $res; ?>
    </select>
</div>
<!-- 
none - не изменять исходное изображение
crop - Изображение изменяется точно в заданные размеры(игнарируя пропорции)
scale - Изображение изменяет размер согласно пропорций и точно по заданной ширине и высоте
width - Ширина изображения изменяется в точно заданный размер, а высота согласно пропорции
height - Высота изображения изменяется в точно заданный размер, а ширина согласно пропорции
-->