<?
    $top = isset($param['gist']['top']) ? $param['gist']['top'] : '';
    $left = isset($param['gist']['left']) ? $param['gist']['left'] : '';
?>

<div class="split-box dib mr-micro js-param-position">
    <div class="ctrl-box">
        <label class="inp-name">Left</label>
        <input type="text" name="row[param][<?= @$param['key']?>][left]" value="<?= $left; ?>" class="inp w-micro first"/>
    </div>
    <div class="ctrl-box">
        <label class="inp-name">Top</label>
        <input type="text" name="row[param][<?= @$param['key']?>][top]" value="<?= $top; ?>" class="inp w-micro last"/>
    </div>
</div>