<?
    $width = isset($param['gist']['width']) ? (int) $param['gist']['width'] : '';
    $height = isset($param['gist']['height']) ? (int) $param['gist']['height'] : '';
?>

<div class="split-box dib mr-micro js-param-scale">
    <div class="ctrl-box">
        <label class="inp-name">Ширина</label>
        <input type="text" name="form[param][<?= @$param['key']?>][width]" value="<?= $width; ?>" class="inp w-small first"/>
    </div>
    <div class="ctrl-box">
        <label class="inp-name">Высота</label>
        <input type="text" name="form[param][<?= @$param['key']?>][height]" value="<?= $height; ?>" class="inp w-small last"/>
    </div>
</div>