html, body{
    height: 100%;
}
sup{
    vertical-align: super;
    font-size: smaller;
}
.page-name{
    background: #f2f2f2;
    font-size: 18px;
    line-height: 40px;
    margin: 0 -15px 15px -15px;
    padding: 0 15px;
}
h3{ font-size: 14px; }
.left_menu{
    padding-top: 15px;
    text-shadow: 1px 1px 0 #fff;
    background: #f2f2f2;
    border-right: 1px solid #ccc;
}

.dubl_box{ margin-top: -15px; }
.dubl_box .box-cell { padding-top: 15px; }
.box-table{
    display: table;
    height: 100%;
}
.dubl_box.box-table{ height: calc(100% - 35px); }
.box-table .box-cell{
    float: none;
    display: table-cell;
    height: 100%;
}

/* ================================ Header start */
.header{
    margin: 0;
    background: #2d2d2d;
}
.header-logo:hover,
.header-logo{
    line-height: 35px;
    font-size: 14px;
    color: #fff;
}
.header-menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    zoom: 1;
}
.header-menu:after{
    content: '';
    display: block;
    clear: both;
    width: 100%;
}
.header-menu li{
    float: left;
    margin-right: 10px;
    line-height: 35px;
}
.header a:hover{ color: #8693a0; }
.header .current a{ color: #f2f2f2; }

.header-panel{
    line-height: 35px;
    color: #fff;
}
.header-panel-login{
    margin-right: 5px;
    padding-right: 7px;
    border-right: 1px solid #777;
}
/* ================================ Header end */


/* ================================ Project */
.project-crumbs{
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;
    list-style-type: none;
    background: #f2f2f2;
}
.project-crumbs li{
    display: inline-block;
    margin-right: 3px;
    font-size: 14px;
}
.project-crumbs a{
    display: inline-block;
    text-shadow: 1px 1px 0 #fff;
    height: 30px;
    line-height: 30px;
}
.project-crumbs-tail{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    border: 5px solid transparent;
    border-left-color: #777;
}
.project-crumbs-tail:after{
    position: absolute;
    left: -6.5px;
    top: -5px;
    content: '';
    border: 5px solid transparent;
    border-left-color: #f2f2f2;
}
.project-name{ margin: 15px 0; }

.project-event{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.project-event > li{
    display: inline-block;
    line-height: 27px;
    margin-left: 5px;
}
.project-list-created{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.project-list-created a{
    display: block;
    white-space:nowrap;
}
.project-list-created i{
    color: #777;
    font-size: 14px;
    margin-right: 5px;
}

.project-menu-list{
    margin: 0 0 15px 0;
    padding: 0;
    list-style-type: none;
}
.project-menu-list ul{
    list-style-type: none;
}
.project-menu-list a.active{
    color: #d1000a;
}
.project-list{
    margin: 25px 0;
}
.project-list ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.project-list li{
    position: relative;
    line-height: 30px;
    margin: 0 -15px;
    padding: 0 15px;
    border-top: 1px solid #ddd;
    background: #fff;
}
.project-list li:nth-child(2n){ background: #f9f9f9; }
.project-list li:first-child{ border-top: none; }
.project-list li:hover{
    background: #f5f5f5;
}
.project-list li.active{
    background: #FFECD4;
}
.project-list i{
    margin-right: 5px;
    font-size: 16px;
    color: #777;
}
.project-list-num{
    margin-right: 10px;
    font-size: 10px;
    font-weight: normal;
    color: #777;
}
.project-filter-objects{
    height: 20px;
    line-height: 20px;
}
.project-filter-objects span{
    display: inline-block;
    height: 20px;
    padding: 0 5px;
    line-height: 20px;
    cursor: pointer;

    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
}
.project-filter-objects sup{
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    margin-top: -2px;
    color: #999;
}
.project-filter-objects .current sup{ color: #fff; }
.project-filter-objects .current{
    cursor: default;
    text-shadow: -1px -1px 0 #555D66;
    color: #fff;
    background: #8693a0;
    border-radius: 2px;
}
.create-element-big-icon{}
.create-element-big-icon a{
    display: inline-block;
    vertical-align: top;
    width: 120px;
    min-height: 190px;
    margin: 0 10px 10px 0;
    padding: 0 0 10px 0;
    text-align: center;
    color: #777;
    background: #f2f2f2;
    border-radius: 4px;
}
.create-element-big-icon i{
    display: block;
    font-size: 120px;
    text-shadow: 1px 1px 0 #fff;
}
.create-element-big-icon i:before{ margin: 0; }
.project-detail{
    display: none;
    position: absolute;
    right: 25px;
    min-width: 100px;
    max-width: 500px;
    margin-bottom: 10px;
    bottom: 100%;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
.project-detail td{
    line-height: 13px;
    font-size: 11px;
}
.alpha{
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
}
.alpha-message{
    position: absolute;
    left: 30%;
    top: 50%;
    margin-top: -20px;
    width: 40%;
    color: #fff;
}
/* ================================ Project end */