<span class="inp_name"><?= @$paramObjectItem['row']['name']?></span>

<?
    if($paramObjectItem['value'] !== ''){
        $scale = resize(root . $paramObjectItem['value'], 200);
        $img = '<img src="'.$paramObjectItem['value'].'" width="'.$scale[0].'" height="'.$scale[1].'"/>';
        $size = byteConvert(filesize (root . $paramObjectItem['value']));
        $imgName = explode('/', $paramObjectItem['value']);
        $imgName = explode('.',array_pop($imgName));
        $imgName = array_shift($imgName);
    }
?>
<? if($paramObjectItem['value'] !== ''): ?>

<table class="gist-image-table">
    <tr>
        <td rowspan="5" class="gist-image-table__image">
            <a href="<?= $paramObjectItem['value'];?>" target="_blank">
                <?= $img; ?>
            </a>
        </td>
    </tr>
    <tr>
        <td class="gist-image-table__text">Имя</td>
        <td><?= $imgName; ?></td>
    </tr>
    <tr>
        <td class="gist-image-table__text">Путь</td>
        <td>
            <a href="<?= $paramObjectItem['value'];?>" target="_blank">
                <?= $paramObjectItem['value'];?>
            </a>
        </td>
    </tr>
    <tr>
        <td class="gist-image-table__text">Размер</td>
        <td><?= $scale[2];?> x <?= $scale[3]; ?> (<?= $size; ?>)</td>
    </tr>

    <tr>
        <td class="gist-image-table__text"></td>
        <td>
            <label class="inp_name mt_micro">
                <input type="checkbox" name="form[<?= @$paramObjectItem['row']['code']?>][remove]" value="1" class="js-image-remove"/>
                Удалить
            </label>
        </td>
    </tr>
</table>

<input type="hidden" name="form[<?= @$paramObjectItem['row']['code']?>][src]" value="<?= $paramObjectItem['value']; ?>"/>
<? endif; ?>


<div class="split_box">
    <input type="text" name="form[<?= @$paramObjectItem['row']['code']?>][name]" value="<?= @$imgName; ?>" class="inp first" placeholder="Имя изображения"/>
    <input type="text" name="form[<?= @$paramObjectItem['row']['code']?>][url]" value="" class="inp last w_normal" placeholder="Путь к изображению"/>
</div>
<input type="file" name="form[<?= @$paramObjectItem['row']['code']?>][file]" value="" class="file-input"/>
<input type="hidden" name="form[<?= @$paramObjectItem['row']['code']?>][type]" value="image" />
