<div class="box">
    <div class="col3">
        <h3>Таблици</h3>
        <ul class="list list__struct">
            <% _.each(tables, function(item, key){ %>
            <li class="box board-tables__item" data-table="<%= key %>">
                <span class="false-link"><%= key %></span>

                <span class="pull-right">
                    <span class="ml-normal" help="Количество записей в таблице"><%= tableInfo['table'][key].count %></span>
                    <span class="ml-normal" help="Количество занимаемой памяти"><%= _.byteConvert(tableInfo['table'][key].size) %></span>
                </span>
            </li>
            <% }); %>
        </ul>
    </div>

    <div class="col9">
        <div class="m-box">

            <div>
                <!--
                <span class="btn">
                    <span class="btn-in">Сформировать правило</span>
                </span>
                <span class="btn">
                    <span class="btn-in">Вставить</span>
                </span>
                <span class="btn">
                    <span class="btn-in">Очистить таблицу</span>
                </span>
                -->

                <span class="btn board-tables__remove btn__disable">
                    <span class="btn-in">Удалить</span>
                </span>


                <div class="ctrl-box">
                    <label class="inp-name">
                        <input type="text" name="" value="" class="inp board-tables__input" placeholder="Найти"/>
                        <span class="board-tables__count-search"></span>
                    </label>
                </div>
            </div>


            <div class="board-tables__box"></div>
        </div>
    </div>
</div>